@model AdminIndexViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="text-center" style="font-weight: 700;">Coders Directory Admin Dashboard</h2>
<h3 class="text-center" style="font-weight: 700;">Announcements</h3>
<form method="post" asp-controller="Admin" asp-action="UpdateAnnouncement" name="AnnouncementForm" onkeypress="return event.keyCode != 13;">
    <div class="form-group">
        <label asp-for="Announcement" class="control-label"></label>
        <input asp-for="Announcement" class="form-control" />
    </div>
    <input type="submit" class="btn btn-default" name="Update" value="Update Announcement" />
</form>

<h3 class="text-center" style="font-weight: 700;">Manage Users</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Created Profile?
            </th>
            <th>
                Email Verified
            </th>
            <th>
                Role
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserSummaries == null || Model.UserSummaries.Count() == 0)
        {
            <tr><td>No recent profiles to display.</td></tr>
        }
        else
        {
            @foreach (var item in Model.UserSummaries)
            {
                <tr>
                    <td>
                        @if (item.Name != null)
                        {
                            <a asp-action="Details" asp-controller="Profiles" asp-route-id="@item.ProfileId">@item.Name</a>
                        }
                        else
                        {
                            @Html.Raw("Not available")
                        }
                    </td>
                    <td>
                        <a href="mailto:@{@item.Email}" target="_blank">@item.Email</a>
                    </td>
                    <td>
                        @if (item.ProfileCreated == true)
                        {
                            @Html.Raw("Yes")
                        }
                        else
                        {
                            @Html.Raw("No")
                        }
                    </td>
                    <td>
                        @if (item.EmailVerified == true)
                        {
                            @Html.Raw("Yes")
                        }
                        else
                        {
                            @Html.Raw("No")
                        }
                    </td>
                    <td>
                        @{
                            string SelectedRole = null;
                        }
                        @using (Html.BeginForm("UpdateRole", "Admin", new { UserId = item.UserId, Role = SelectedRole }))
                        {
                            @Html.DropDownListFor(x => SelectedRole, item.AllRoles)
                            <input type="hidden" name="UserId" value="@item.UserId" />
                            <input type="submit" class="btn btn-default" name="ChangeRoleButton" value="Change Role" />
                        }
                    </td>
                    <td>
                        <form method="post" asp-controller="Admin" asp-action="AdminDeleteUser">
                            <input type="hidden" name="UserId" value="@item.UserId" />
                            <input type="submit" class="btn btn-default danger" name="DeleteUserButton" value="Delete User" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<h3 class="text-center" style="font-weight: 700;">Manage Profiles</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Languages/Frameworks
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Country
            </th>
            <th>
                Created
            </th>
            <th>
                Last Updated
            </th>
            <th style="width: 20%;">
                Status
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ProfileSummaries == null || Model.ProfileSummaries.Count() == 0)
        {
            <tr><td>No favorite profiles to display.</td></tr>
        }
        else
        {
            @foreach (var item in Model.ProfileSummaries)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Profiles" asp-route-id="@item.ProfileId">@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Languages)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @item.Created.ToString("g", CultureInfo.CreateSpecificCulture("en-us"))
                    </td>
                    <td>
                        @if (item.LastUpdated != null)
                        {
                            <span>
                                @item.LastUpdated?.ToString("MM/dd/yyyy hh:mm ")
                            @if (item.LastUpdated?.Hour > 12)
                            {
                                @Html.Raw("PM");
                            }
                            else
                            {
                                @Html.Raw("AM");
                            }
                        </span>
                        }
                    </td>
                    <td>
                        @{
                            string SelectedStatus = null;
                        }
                        @using (Html.BeginForm("AdminChangeProfileStatus", "Admin", new { ProfileId = item.ProfileId, Status = SelectedStatus }))
                        {
                            @Html.DropDownListFor(x => SelectedStatus, item.AllStatuses)
                            <input type="hidden" name="ProfileId" value="@item.ProfileId" />
                            <input type="submit" class="btn btn-default" name="ChangeStatusButton" value="Change Status" />
                        }
                    </td>
                    <td>
                        <form method="post" asp-controller="Admin" asp-action="AdminDeleteProfileConfirm">
                            <input type="hidden" name="ProfileId" value="@item.ProfileId" />
                            <input type="hidden" name="Name" value="@item.Name" />
                            <input type="submit" class="btn btn-default danger" name="RemoveProfileButton" value="Delete Profile" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>